<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <h1>Hello you are logged in.</h1>
    <a href="{{url_for('logout')}}">Press here to logout</a>
{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="text-center mt-5">
        <h1>Welcome, {{ current_user.username }} 👋</h1>
        <p class="lead">This is your dashboard!</p>
    </div>
{% endblock %}

</body>

</html>